@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

body {
  background-color: #111111;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* 14px - small */
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  /* semi-bold */
  font-weight: 600;
  color: #fff;
}

.input_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 1);
}

input,
select {
  background-color: #1f2937;
  /* eje x */
  padding-inline: calc(var(--spacing) * 3);
  /* eje y */
  padding-block: calc(var(--spacing) * 2.5);
  /* normal */
  font-weight: 400;
  /* truncar texto - 3 puntitos */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button {
  background-color: #fff;
  cursor: pointer;
  color: #1e2939;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='size-6'%3e%3cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  background-size: 16px;
}

input,
button,
select {
  border-radius: var(--radius-md);
  outline: none;
  border: none;
}

input:focus,
button:focus,
button:hover,
select:focus {
  outline: 2px solid #6366f1;
}

button:hover {
  /* light gray */
  background-color: #f8f8f8;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.98);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes glow-pulse {
  0% {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
  }
  50% {
    filter: drop-shadow(0 0 28px rgba(255, 255, 255, 1));
  }
  100% {
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.4));
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.3s ease-in-out forwards;
}

.animate-glow-pulse {
  animation: glow-pulse 2.2s ease-in-out infinite;
}

.soundcloud-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.soundcloud-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.title {
  background: #fff;
  background: linear-gradient(to right, #ff6e7f, #bfe9ff);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
